.detailitem {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.detailitem img {
    width: 250px;
    height: 250px;
    filter: invert(75%);
}

.detailitem h2 {
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.detailitem h6 {
    margin: 0;
}

.detailitem div {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}

.detailitem button {
    width: max-content;
    background-color: #674836;
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 26px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
}

.detailitem button:hover {
    opacity: 75%;
}

@media (min-width: 768px) {
    .detailitem {
        padding: 40px 50px;
    }

    .detailitem img {
        width: 400px;
        height: 400px;
    }
}